.App {
  margin: 0;
  left: 0;
  top: 0;
}

.navbox {
  border: 2px solid black;
  height: 30px;
}

.codecasenav {
  font-size: 20px;
  margin: 5%;
}

a {
  text-decoration: none;
  padding: 6px;
  margin-bottom: 20px;
}

.homenav,
.counternav {
  float: right;
  margin-right: 10%;
}

.counterBox {
  border: 5px solid blue;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.theButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-top: 15%; */
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
}

h1.title {
  margin-top: 5%;
}

.words {
  text-align: center;
}
